In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv1D, MaxPooling1D, Flatten
import mne

In [11]:
data = pd.read_csv(r"C:\Users\Riddhi\Desktop\Donuts\user_a.csv")      #original dataset

## Preprocessing

In [12]:
data.head()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,1.0,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,1.0,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,1.0,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,1.0,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313

In [13]:
data.tail()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
2875,0.0,3572.820630,2064.823341,0.676923,1.620879,0.965369,2.392263,2.582266,3.185588,3565.166724,...,26.247669,13.320391,3607.467804,2089.263161,1.605773,4.247634,1.649762,2.938868,31.019482,16.648758
2876,0.0,3573.915291,2065.845542,0.860279,1.504333,0.539180,1.331165,2.533695,2.870270,3565.734750,...,26.120266,14.809811,3613.165565,2089.298802,0.643899,6.903858,1.287563,3.942647,31.546882,17.429113
2877,0.0,3574.326202,2066.031013,1.416731,2.581577,0.715012,1.307975,2.261013,2.873613,3567.582880,...,26.513829,16.084048,3615.755534,2094.482958,1.851314,5.683580,2.411642,6.355117,32.238063,19.023897
2878,0.0,3573.735788,2065.945333,1.119943,2.769816,0.455408,1.541430,1.782814,3.067384,3567.857997,...,20.049092,21.248860,3620.821019,2097.450420,5.035767,12.027902,6.441267,14.663681,24.109509,26.468254
2879,0.0,3573.982930,2065.960401,1.011062,2.696217,1.021707,2.086820,1.922342,2.675613,3568.222662,...,19.210888,22.058247,3620.970803,2096.125026,4.120981,12.124434,7.613556,12.998119,23.635052,26.581116

In [14]:
data.shape

(2880, 113)

In [15]:
data.describe()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
count,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,...,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000,2880.000000
mean,1.000000,3572.735546,2065.177641,1.037918,2.477254,0.949795,2.310609,2.224140,3.311305,3566.919323,...,30.670347,33.031491,3607.576448,2107.007956,6.684569,17.003011,7.309571,18.548518,36.497788,39.097939
std,0.816638,2.196760,1.529244,0.496783,0.963555,0.435073,0.771319,0.569616,0.394712,1.842509,...,13.911802,12.894324,42.043787,33.849007,5.398308,14.129471,5.677376,12.036952,15.384302,14.104989
min,0.000000,3552.889260,2059.383202,0.030171,0.601632,0.075538,0.733693,0.767053,1.579466,3558.922185,...,10.635560,12.217942,2705.784083,2012.737139,0.243917,1.728774,0.181284,1.706448,13.237884,13.770469
25%,0.000000,3571.634491,2064.340743,0.684039,1.969405,0.647807,1.824173,1.814392,3.049707,3565.692360,...,21.675162,24.196401,3589.969446,2089.184096,3.245111,9.810866,3.536545,10.390539,26.111939,29.174488
50%,1.000000,3572.869922,2065.112789,0.986066,2.377674,0.902000,2.237968,2.160555,3.294564,3566.926684,...,27.454260,31.812941,3606.044566,2101.898881,5.586462,14.802745,5.956592,16.307022,33.202806,38.071163
75%,2.000000,3574.116075,2065.897237,1.301700,2.846428,1.206119,2.686252,2.593016,3.543390,3568.155890,...,33.537011,38.654785,3626.847369,2118.036649,8.675381,20.736578,9.474619,23.675337,40.566181,46.526094
max,2.000000,3579.662192,2086.609218,4.748079,15.603812,4.990970,11.002262,4.229407,5.688087,3572.462431,...,84.119120,89.132433,3758.046521,3005.693915,95.606765,244.145529,94.448386,138.908194,88.024693,94.350650

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Columns: 113 entries, Class to AF4 beta m
dtypes: float64(113)
memory usage: 2.5 MB

In [17]:
data.isnull().sum()

Class            0
AF3 delta std    0
AF3 delta m      0
AF3 theta std    0
AF3 theta m      0
                ..
AF4 theta m      0
AF4 alpha std    0
AF4 alpha m      0
AF4 beta std     0
AF4 beta m       0
Length: 113, dtype: int64

In [74]:
df = data.sample(n=1000)      #reducing the size

In [19]:
df.shape

(1000, 113)

In [20]:
df.head()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
405,0.0,3571.504676,2065.278114,1.434834,3.369112,0.617050,1.355345,1.923881,3.455682,3565.336402,...,41.180620,54.171731,3511.228135,2081.954311,15.069824,42.027019,7.833063,28.784335,50.714988,67.826640
1412,0.0,3575.473511,2065.556062,0.759452,2.009654,0.987955,2.667451,3.132475,3.178583,3568.429493,...,27.431940,17.329982,3608.876849,2094.288443,1.324368,4.167200,4.110748,7.810783,34.123225,20.878349
1374,0.0,3575.820813,2065.705481,0.936103,1.412987,0.620877,2.446642,2.702482,3.496900,3570.182335,...,27.716558,18.037193,3618.889472,2099.023037,1.407559,6.789823,2.452854,8.138314,33.606425,20.200331
2805,0.0,3576.550324,2066.579262,0.795172,2.425423,1.295996,2.511509,1.864211,3.077593,3568.048213,...,21.492612,24.787336,3655.174064,2129.772566,3.402471,10.247345,2.915427,8.796822,26.572174,28.678494
1494,1.0,3570.567480,2063.877074,1.423902,2.154695,0.961422,1.764019,1.397734,2.659855,3563.769510,...,19.396698,29.759479,3649.903310,2148.367854,5.448580,14.993223,9.640334,12.692487,23.494047,34.737189

In [21]:
df.tail()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
1103,1.0,3573.565253,2065.060793,1.597426,2.344387,0.768774,2.570421,2.232601,3.343315,3569.852357,...,21.638704,24.817989,3590.777028,2087.415959,7.437295,13.969872,6.263814,13.504861,25.978205,29.521750
1826,0.0,3574.393648,2065.344735,1.150467,2.640447,1.746644,1.896464,3.079129,2.745304,3566.700226,...,36.161461,21.946492,3600.565581,2090.462889,5.231256,13.230428,3.158060,11.172156,42.522696,26.737880
10,1.0,3561.620823,2060.260830,1.011801,3.574594,1.015004,1.331536,1.293866,2.695125,3561.432753,...,33.692440,45.444627,3731.839943,2188.568017,12.661697,33.217079,25.250995,36.237501,34.175196,44.672074
1292,0.0,3574.713338,2065.748780,0.415329,1.718303,1.240544,3.243607,1.961317,3.098437,3569.299460,...,24.668692,19.470027,3612.241032,2101.208173,3.125368,7.530854,2.830282,16.087412,29.873271,23.422456
1739,2.0,3574.700839,2065.150243,1.339237,1.855082,0.996535,2.568687,1.956588,3.040518,3570.052242,...,21.443766,33.743558,3520.395620,2047.389514,6.400989,11.640920,8.401314,13.510171,27.183813,40.869225

In [34]:
#random point coordinates: (x, y)
np.random.seed(0)  
x_coords = np.random.uniform(-100, 100, size=df.shape[0])  
y_coords = np.random.uniform(-100, 100, size=df.shape[0])  

df['point coordinates'] = list(zip(x_coords, y_coords))

In [35]:
df.head()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m,point coordinates
405,0.0,3571.504676,2065.278114,1.434834,3.369112,0.617050,1.355345,1.923881,3.455682,3565.336402,...,54.171731,3511.228135,2081.954311,15.069824,42.027019,7.833063,28.784335,50.714988,67.826640,"(9.762700785464943, 18.57605415623152)"
1412,0.0,3575.473511,2065.556062,0.759452,2.009654,0.987955,2.667451,3.132475,3.178583,3568.429493,...,17.329982,3608.876849,2094.288443,1.324368,4.167200,4.110748,7.810783,34.123225,20.878349,"(43.0378732744839, -97.98726086878133)"
1374,0.0,3575.820813,2065.705481,0.936103,1.412987,0.620877,2.446642,2.702482,3.496900,3570.182335,...,18.037193,3618.889472,2099.023037,1.407559,6.789823,2.452854,8.138314,33.606425,20.200331,"(20.552675214328772, -4.834760828555446)"
2805,0.0,3576.550324,2066.579262,0.795172,2.425423,1.295996,2.511509,1.864211,3.077593,3568.048213,...,24.787336,3655.174064,2129.772566,3.402471,10.247345,2.915427,8.796822,26.572174,28.678494,"(8.976636599379376, 41.75407818820972)"
1494,1.0,3570.567480,2063.877074,1.423902,2.154695,0.961422,1.764019,1.397734,2.659855,3563.769510,...,29.759479,3649.903310,2148.367854,5.448580,14.993223,9.640334,12.692487,23.494047,34.737189,"(-15.269040132219061, -91.20491359518188)"

In [36]:
df.columns

Index(['Class', 'AF3 delta std', 'AF3 delta m', 'AF3 theta std', 'AF3 theta m',
       'AF3 alpha std', 'AF3 alpha m', 'AF3 beta std', 'AF3 beta m',
       'F7 delta std',
       ...
       'F8 beta m', 'AF4 delta std', 'AF4 delta m', 'AF4 theta std',
       'AF4 theta m', 'AF4 alpha std', 'AF4 alpha m', 'AF4 beta std',
       'AF4 beta m', 'point coordinates'],
      dtype='object', length=114)

# Splitting data into input and output

In [40]:
X = df.drop('point coordinates', axis=1)
y = df['point coordinates']

In [54]:
y.info()

<class 'pandas.core.series.Series'>
Index: 1000 entries, 405 to 1739
Series name: point coordinates
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [51]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 405 to 1739
Columns: 113 entries, Class to AF4 beta m
dtypes: float64(113)
memory usage: 890.6 KB

# Running a CNN model

In [38]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Flatten, Dense
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [57]:
X_train = X_train.values.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.values.reshape(X_test.shape[0], X_test.shape[1], 1)

In [2]:
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=(X_train.shape[1], 1)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(64,activation='relu'))  
model.add(Dense(2))

NameError: name 'Sequential' is not defined

In [62]:
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

In [55]:
y = df['point coordinates']

Y = pd.DataFrame(y.tolist(), columns=['x', 'y'])

Y['x'] = Y['x'].astype('float64')
Y['y'] = Y['y'].astype('float64')

print(Y.dtypes)

x    float64
y    float64
dtype: object

In [63]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 8s 46ms/step - accuracy: 0.5362 - loss: 197188.1250 - val_accuracy: 0.4450 - val_loss: 7935.3320
Epoch 2/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - accuracy: 0.4695 - loss: 5988.0869 - val_accuracy: 0.5550 - val_loss: 3664.0823
Epoch 3/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step - accuracy: 0.5129 - loss: 3883.8481 - val_accuracy: 0.5550 - val_loss: 3754.6365
Epoch 4/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step - accuracy: 0.5248 - loss: 3896.1531 - val_accuracy: 0.4450 - val_loss: 3667.6243
Epoch 5/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.4854 - loss: 3850.2939 - val_accuracy: 0.4400 - val_loss: 3646.5334
Epoch 6/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5252 - loss: 3543.5269 - val_accuracy: 0.5550 - val_loss: 3538.8445
Epoch 7/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.4902 - loss: 3793.1929 - val_accuracy: 0.5550 - val_loss: 3618.4165
Epoch 8/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5092 - loss: 3618.9407 - val_accuracy: 0.4450 - val_loss: 4407.7168
Epoch 9/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - accuracy: 0.4637 - loss: 4002.3516 - val_accuracy: 0.4400 - val_loss: 3543.1221
Epoch 10/10
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 27ms/step - accuracy: 0.5389 - loss: 3792.4260 - val_accuracy: 0.5550 - val_loss: 4095.5171

In [65]:
loss, accuracy = model.evaluate(X_test, y_test)
print("Test Loss:", loss, "Test Accuracy:", accuracy)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.5717 - loss: 4024.1323
Test Loss: 4095.51708984375 Test Accuracy: 0.5550000071525574

# Making predictions using a new dataset

In [70]:
new_X_data = pd.read_csv(r"C:\Users\Riddhi\Desktop\Donuts\user_b.csv")
new_X = new_X_data.sample(n=1000)

In [72]:
new_X = np.random.rand(1, X_train.shape[1])
new_X = new_X.reshape(new_X.shape[0], new_X.shape[1], 1)
predicted_coords = model.predict(new_X)6+.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 352ms/step

In [73]:
print("Predicted Point Coordinates:", predicted_coords[0])

Predicted Point Coordinates: [-0.18734848 -0.08503185]